<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Study Materials</nb-card-header>
            <nb-card-body>
                <ng-data-table
                        [id]="'asmnt_list'"
                        [title]="'Study Materials'"
                        [dataSource]="dataSource"
                        [showHeader]="true"
                        [pageable]="true"
                        [showRefreshButton]="true"
                        [showColumnSelector]="true">
                    <ng-data-table-column
                            [field]="'noteName'"
                            [title]="'Note Name'"
                            [filterable]="true"
                            [width]="130"
                            [showInColumnSelector]="false">
                    </ng-data-table-column>
                    <ng-data-table-column
                            [field]="'subject'"
                            [title]="'Subject'"
                            [filterable]="true"
                            [showDropdownFilter]="true"
                            [dropdownFilterMenuWidth]="120"
                            [width]="130"
                            [showInColumnSelector]="false">
                    </ng-data-table-column>
                    <ng-data-table-column
                            [field]="'grade'"
                            [title]="'Grade'"
                            [filterable]="true"
                            [width]="130"
                            [showInColumnSelector]="false">
                    </ng-data-table-column>
                    <ng-data-table-column
                            [field]="'type'"
                            [title]="'Material Type'"
                            [filterable]="true"
                            [showDropdownFilter]="true"
                            [dropdownFilterMenuWidth]="120"
                            [width]="130"
                            [showInColumnSelector]="false">
                    </ng-data-table-column>
                    <ng-data-table-column
                            [field]="'submittedDate'"
                            [title]="'Published date'"
                            [filterable]="true"
                            [sortable]="true"
                            [width]="130"
                            [showInColumnSelector]="true">
                    </ng-data-table-column>
                    <ng-data-table-column
                            [field]="'noteURL'"
                            [title]="'Link'"
                            [width]="130"
                            [showInColumnSelector]="true">
                        <ng-template #ngDataTableCell let-row="row" let-spanIndex="spanIndex">
                            <td>
                                <a [href]="row.item.noteURL" target="_blank">Download</a>
                            </td>
                        </ng-template>
                    </ng-data-table-column>
                </ng-data-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>
