<div class="question-container">
    <div class="question-title-container">
        {{questionVal}}
    </div>
    <div class="answer-container">

        <div class="answer-inner-container">
            <button mat-raised-button (click)="handleAnswer(1)">1. {{answer1Val}}</button>
        </div>
        <div class="answer-inner-container">
            <button mat-raised-button (click)="handleAnswer(2)">2. {{answer2Val}}</button>
        </div>

        <div class="answer-inner-container">
            <button mat-raised-button (click)="handleAnswer(3)">3. {{answer3Val}}</button>
        </div>
        <div class="answer-inner-container">
            <button mat-raised-button (click)="handleAnswer(4)">4. {{answer4Val}}</button>
        </div>

    </div>

</div>

