<div class="row">
    <div class="col-lg-12">
            <div class="progress-info">
                <div class="subtitle">Parent Name</div>
                <div class="h6">{{dataRow.item.parent.name}}</div>

                <div class="subtitle">Email</div>
                <div class="h6">{{dataRow.item.parent.email}}</div>

                <div class="subtitle">Phone Number</div>
                <div class="h6">{{dataRow.item.parent.phone}}</div>
            </div>
        </div>
</div>
