.form-group {
  padding-top: 5px;
}

.resource-select {
  margin-left: 10px;
}

.print-button {
  margin-top: 20px;
}

.filter-by-select {
  padding-left: 10px;
}

.sort-by-type-select {
  margin-left: 25px;
}

.sort-by-dir-select {
  margin-left: 10px;
}

.select {
  width: 200px;
}
