<div class="row">
    <div class="col-lg-12">
        <nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary">
            <nb-card-header>Share an Image</nb-card-header>
            <nb-card-body>
                <div class="form-group">
                    <label class="label">Upload the image below<span class="required">*</span>
                        <button class="view-material-button" [disabled]="!isFileUploaded" nbButton status="info"
                                size="tiny"
                                type="primary"
                                (click)="viewReport()">
                            View Image
                        </button>
                    </label>
                    <ngx-file-uploader
                            class="file-uploader"
                            dirPath="notes"
                            (fileUploadSuccessCallback)="handleUploadSuccess($event)"
                    ></ngx-file-uploader>
                </div>
                <button [disabled]="!isValidForm()"
                        type="button" nbButton
                        status="success"
                        (click)="onSubmitClick()"
                        [nbSpinner]="isLoading"
                        nbSpinnerStatus="primary"
                        nbSpinnerSize="tiny"
                        nbSpinnerMessage="">Share
                </button>
                <button type="button" nbButton
                        status="danger" (click)="onCancelClick()">Cancel
                </button>
            </nb-card-body>
        </nb-card>
    </div>
</div>

