.table-hint {
  color: gray;
  margin-bottom: 10px;
}

.generate-button {
  margin-top: 20px;
  margin-left: 5px;
}

.select-std-button {
  margin-top: 20px;
}

.add-button {
  margin-left: 20px;
  margin-bottom: 5px;
}

.subject-input {
  margin-right: 10px;
}

.avg-marks-lbl {
  font-size: 18px;
  color: dodgerblue;
  margin-top: 10px;
}

.avg-mark {
  font-size: 18px;
  padding-left: 5px;
  font-weight: bold;
  color: #343434;
}

.student-name-label {
  color: gray;
}

.marksTxt {
  margin-left: 10px;
}

.subject-select {
  width: 200px;
}
