<div class="welcome-main-container">
    <div class="welcome-inner-container">
        <img src="assets/logo.png" class="logo-container">
        <div class="header-container">
            WELCOME TO OLS SMART-BOARD
        </div>
        <div class="progress-bar-container">
            <mat-progress-bar
                    class="example-margin"
                    color='warn'
                    mode="indeterminate">
            </mat-progress-bar>
        </div>

        <div class="welcome-content-container">
           Waiting for an assignment ...
        </div>

    </div>
</div>
